NODE_ENV=local
PORT=3333

# 
# DATABASE
# 
# DATABASE_URL=postgresql://postgres:secret@localhost:5432/project
DATABASE_HOST=localhost
DATABASE_USER=postgres
DATABASE_PASSWORD=secret
DATABASE_PORT=5432
DATABASE_NAME=project